@model ColegioPublic.ViewsModel.UserVM._ListUserViewModel
@using PagedList.Mvc;
@using PagedList;
@using ColegioPublic.Helper;

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Nombre</th>
            <th>Rol</th>
            <th>Acciones</th>

        </tr>
    </thead>

    <tbody>
        @if (Model.LstRegistro.Count > 0)
        {
            foreach (var item in Model.LstRegistro)
            {
                <tr>
                  
                    <td>@item.UserName</td>
                    <td>@item.Rol</td>
                    <td>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Opciones</button>
                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(696px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a class="dropdown-item" href="@Url.Action("AddEditUser","User", new {UserId = item.UserId})">Editar</a>
                                <a class="dropdown-item eliminarUser" href="@Url.Action("Delete","User", new {UserId = item.UserId})">Eliminar</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
@Html.PagedListPager(Model.LstRegistro, p => Url.Action("_ListUser", new { p = p }), PaginationHelper.AjaxPagerOptionsDefault)



