@model ColegioPublic.ViewsModel.ProfesorVM.AddEditProfesorViewModel
@{
    ViewBag.Title = Model.ProfesorId.HasValue ? "Agregar " : "Editar "+" Profesor";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@(Model.ProfesorId.HasValue ? "Agregar " : "Editar ")Profesor</h4>
                <form class="form" action="@Url.Action("AddEditProfesor","Profesor")" method="post" enctype="multipart/form-data">
                    @Html.HiddenFor(x => x.ProfesorId)
                    <div class="form-group mt-5 row">
                        @Html.LabelFor(x => x.Nombre, new { @class = "col-2 col-form-label" })

                        <div class="col-10">
                            @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(x => x.ApellidoPaterno, new { @class = "col-2 col-form-label" })

                        <div class="col-10">
                            @Html.TextBoxFor(x => x.ApellidoPaterno, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(x => x.ApellidoMaterno, new { @class = "col-2 col-form-label" })

                        <div class="col-10">
                            @Html.TextBoxFor(x => x.ApellidoMaterno, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(x => x.Dni, new { @class = "col-2 col-form-label" })

                        <div class="col-10">
                            @Html.TextBoxFor(x => x.Dni, new { @class = "form-control" })
                        </div>
                    </div>
             
                    <div class="form-group">
                        <label>Custom File upload</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Imagen Profesor</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="Image" name="Image">
                                <label class="custom-file-label" id="nameFile" for="Image">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="card-body">
                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                            <button type="button" class="btn btn-dark">Cancel</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $(function () {

            $(".datetimepicker1").datetimepicker({
                format: 'DD-MM-YYYY',

            });
                document.getElementById('Image').onchange = function () {
              console.log(this.value);
              document.getElementById('nameFile').innerHTML = document.getElementById('Image').files[0].name;
            }
        });
    </script>
}