@model ColegioPublic.ViewsModel.AlumnoVM.AddEditAlumnoViewModel
@{
    ViewBag.Title = "Agregar Alumno";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@(Model.AlumnoId.HasValue?"Modificar " :"Editar ")Alumno</h4>
                <form class="form" action="@Url.Action("AddEditAlumno","Alumno")" method="post">
                    @Html.HiddenFor(x => x.AlumnoId)
                    <div class="form-group mt-5 row">
                        @Html.LabelFor(x => x.Nombre, new { @class = "col-2 col-form-label" })

                        <div class="col-10">
                            @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(x => x.ApellidoPaterno, new { @class = "col-2 col-form-label" })

                        <div class="col-10">
                            @Html.TextBoxFor(x => x.ApellidoPaterno, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(x => x.ApellidoMaterno, new { @class = "col-2 col-form-label" })

                        <div class="col-10">
                            @Html.TextBoxFor(x => x.ApellidoMaterno, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(x => x.Dni, new { @class = "col-2 col-form-label" })

                        <div class="col-10">
                            @Html.TextBoxFor(x => x.Dni, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">

                        @Html.LabelFor(x => x.FechaNacimiento, new { @class = "col-2 col-form-label" })

                        <div class="col-10">

                            @Html.TextBoxFor(x => x.FechaNacimiento, "{0:dd/MM/yyyy}", new { @class = "form-control datetimepicker1" })
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="card-body">
                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                            <button type="button" class="btn btn-dark">Cancel</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $(function () {

            $(".datetimepicker1").datetimepicker({
                format: 'DD-MM-YYYY',
                
             });
        });
    </script>
}