@model ColegioPublic.ViewsModel.ActividadVM._ListActividadViewModel
@using PagedList.Mvc;
@using PagedList;
@using ColegioPublic.Helper;

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Nombre</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Descripción</th>
            <th>Acciones</th>

        </tr>
    </thead>

    <tbody>
        @if (Model.LstRegistro.Count > 0)
        {
            foreach (var item in Model.LstRegistro)
            {
        <tr>
            <td>@item.Nombre</td>
            <td>@item.FechaInicio.Value.ToShortDateString()</td>
            <td>@item.FechaFin.Value.ToShortDateString()</td>
            <td>@item.Descripcion</td>
            <td>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Opciones</button>
                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(696px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <a class="dropdown-item" href="@Url.Action("AddEditActividad","Actividad", new {ActividadId = item.ActividadesId})">Editar</a>
                        <a class="dropdown-item eliminarActividad" href="@Url.Action("Delete","Actividad", new {ActividadId = item.ActividadesId})">Eliminar</a>
                    </div>
                </div>
            </td>
        </tr>
            }
        }

    </tbody>
</table>
@Html.PagedListPager(Model.LstRegistro, p => Url.Action("_ListActividad", new { p = p,model = Model }), PaginationHelper.AjaxPagerOptionsDefault)


