@model ColegioPublic.ViewsModel.ActividadVM.AddEditActividadViewModel
@{
    ViewBag.Title = "Agregar Actividad";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@(Model.ActividadId.HasValue ? "Modificar " : "Editar ")Actividad</h4>
                <form class="form" action="@Url.Action("AddEditActividad","Actividad")" method="post">
                    @Html.HiddenFor(x => x.ActividadId)
                    <div class="form-group mt-5 row">
                        @Html.LabelFor(x => x.Nombre, new { @class = "col-2 col-form-label" })

                        <div class="col-10">
                            @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">

                        @Html.LabelFor(x => x.FechaInicio, new { @class = "col-2 col-form-label" })

                        <div class="col-10">

                            @Html.TextBoxFor(x => x.FechaInicio, "{0:dd/MM/yyyy}", new { @class = "form-control datetimepicker1" })
                        </div>
                    </div>
                    <div class="form-group row">

                        @Html.LabelFor(x => x.FechaFin, new { @class = "col-2 col-form-label" })

                        <div class="col-10">

                            @Html.TextBoxFor(x => x.FechaFin, "{0:dd/MM/yyyy}", new { @class = "form-control datetimepicker1" })
                        </div>
                    </div>
                    <div class="form-group mt-5 row">
                        @Html.LabelFor(x => x.descripcion, new { @class = "col-2 col-form-label" })

                        <div class="col-10">
                            @Html.TextAreaFor(x => x.descripcion, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="card-body">
                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                            <button type="button" class="btn btn-dark">Cancel</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $(function () {

        });
    </script>
}