@model ColegioPublic.ViewsModel.AulaVM._ListAulaViewModel
@using PagedList.Mvc;
@using PagedList;
@using ColegioPublic.Helper;

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Codigo</th>
            <th>Capacidad</th>
            <th>Acciones</th>

        </tr>
    </thead>

    <tbody>
        @if (Model.LstRegistro.Count > 0)
        {
            foreach (var item in Model.LstRegistro)
            {
                <tr>
                    <td>@item.CodigoAula</td>
                    <td>@item.CapacidadMax</td>
                    <td>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(696px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a class="dropdown-item" href="@Url.Action("AddEditAula","Aula", new {AulaId = item.AulaId})">Editar</a>
                                <a class="dropdown-item" href="@Url.Action("Delete","Aula", new {AulaId = item.AulaId})">Eliminar</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
@Html.PagedListPager(Model.LstRegistro, p => Url.Action("_ListAula", new { p = p }), PaginationHelper.AjaxPagerOptionsDefault)



