@model ColegioPublic.ViewsModel.ExamenVM.IndexExamenViewModel
@{
    ViewBag.Title = "Examen";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">

                <form action="@Url.Action("AddEditExamen","Examen")" method="post">
                    <div class="form-group row">
                        @Html.LabelFor(x => x.GradoAcademicoId, new { @class = "col-sm-2 col-form-label" })

                        <div class="col-sm-10">
                            @Html.DropDownListFor(x => x.GradoAcademicoId, new SelectList(Model.LstGradoAcademico, "Value", "Text"), new { @class = "custom-select" })

                        </div>
                        @Html.ValidationMessageFor(x => x.GradoAcademicoId)
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(x => x.CursoId, new { @class = "col-sm-2 col-form-label" })

                        <div class="col-sm-10">
                            @Html.DropDownListFor(x => x.CursoId, new SelectList(Model.LstCursoByGradoAcademico, "Value", "Text"), new { @class = "custom-select" })

                        </div>
                        @Html.ValidationMessageFor(x => x.CursoId)
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(x => x.TipoExamenId, new { @class = "col-sm-2 col-form-label" })

                        <div class="col-sm-4">
                            @Html.DropDownListFor(x => x.TipoExamenId, new SelectList(Model.LstTipoExamen, "Value", "Text"), new { @class = "custom-select" })

                        </div>
                        @Html.ValidationMessageFor(x => x.TipoExamenId)
                    </div>
                    <div class="form-group row">

                        @Html.LabelFor(x => x.FechaExamen, new { @class = "col-2 col-form-label" })

                        <div class="col-4">

                            @Html.TextBoxFor(x => x.FechaExamen, "{0:dd/MM/yyyy}", new { @class = "form-control datetimepicker1" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div><button type="submit" class="btn btn-success">Agregar</button></div>
                    </div>
                </form>

            </div>

            <div id="renderParcial" class="table-responsive">
              
            </div>

     </div>
    </div>
</div>

@section scripts{

    <script>
        $(function () {

            loadCurso();
            loadPartial();
        $("#GradoAcademicoId").change(function () {
            loadCurso();
        });
        $("#CursoId").change(function () {
            loadPartial();
        });
        function loadCurso() {
             debugger;
            var formData = new FormData();
            var gradoId = $("#GradoAcademicoId").val();
            formData.append("gradoId", gradoId);
            $('#CursoId').empty();
            $.ajax({
                type: "POST",
                data: formData,
                url: '@Url.Action("getCursoByGrado", "Examen")',
               processData: false,
               contentType: false
            }).done(function (data) {
                       console.log(data);
                        debugger;
                        $.each(data, function (i, row) {
                            var $option = $('<option>');
                            $option.val(row.Value);
                            $option.html(row.Text);
                            $('#CursoId').append($option);
                        });
            }).fail(function(jqXHR, textStatus) {

            });
          }


       function loadPartial() {
             debugger;
                var formData = new FormData();
                  
                  var cursoId = $("#CursoId").val();
                formData.append("gradoCursoId", cursoId);
           
            $.ajax({
                type: "POST",
                data: formData,
                url: '@Url.Action("Examen", "Examen")',
               processData: false,
               contentType: false
            }).done(function (data) {
                console.log(data);
                $('#renderParcial').html(data);
                SetUpPickers();
            }).fail(function(jqXHR, textStatus) {

            });
            }
            function SetUpPickers(){

              $(".datetimepicker1").datetimepicker({
                format: 'DD-MM-YYYY',
                

            });
        }
        $('#renderParcial').on('click','#addExamen', function () {
            var tipoExamenNombre = "";
            var tipoExamenId = "";
            var fecha = "";
            $('#new-Examen').append(
                `<tr>
                <td class="hide">${tipoExamenId}</td>
                <td>${tipoExamenNombre}</td>
                <td>${fecha}</td>
                <td> <a href="#" class="delete">Eliminar</a></td>
                </tr>`);  

        });

      
        $('.delete').off().click(function(e) {
            $(this).parent('td').parent('tr').remove();
       
         });
            

       function deleteExamen(examenDiv) {
            examenDiv.remove();
        }

        });


    </script>

}

