@model ColegioPublic.ViewsModel.ExamenVM.ListExamenViewModel
@{
    ViewBag.Title = "Lista Examen";
}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Tipo Examen</th>
            <th>Fecha Examen</th>
            <th>Opciones</th>
        </tr>
    </thead>

    <tbody>
        @if (Model.LstExamen.Count > 0)
        {
            foreach (var item in Model.LstExamen)
            {
                <tr id="@item.ExamenId">
                    <td>@item.TipoGenerico.Nombre</td>
                    <td>@item.FechaExamen.Value.ToLongDateString()</td>
                    <td>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Opciones</button>
                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(696px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a class="dropdown-item eliminarExamen" data-padre="@item.ExamenId" href="@Url.Action("Delete","Examen", new {ExamenId = item.ExamenId})">Eliminar</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


@section scripts{
    <script>

      $(function () {
          $(".eliminarExamen").click(function (e) {
              e.preventDefault();
              var url = $(this).attr("href");
              var padre = $(this).attr("data-padre");
              debugger;
              var formData = new FormData();
              Swal.fire({
                  title: 'Confirmación de Eliminación',
                  text: "Está seguro de Eliminar?",
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  cancelButtonText:'Cancelar',
                  confirmButtonText: 'Si, Estoy seguro!'
              }).then((result) => {
                  if (result.value) {
                      /**/
                      $.ajax({
                          url: url,
                          type: "GET",
                          data: formData,
                          contentType: false,
                          processData: false,
                          async: false
                      }).done(function (data) {
                          var modelo = JSON.parse(JSON.stringify(data));
                          if (modelo.Value == true) {
                              Swal.fire(
                                  'Se Elimino Correctamente!',
                                  '',
                                  'success'
                              ).then((result) => {
                                  if (result) {
                                      $("#"+padre).remove();
                                  }
                              });
                          } else {
                              Swal.fire(
                                  'Ocurrio algún error al Eliminar!',
                                  '',
                                  'error'
                              )
                          }
                      }).fail(function () {
                          Swal.fire(
                              'No se pudo Eliminar!',
                              'Aceptar!',
                              'error'
                          )
                     });
                      /**/
                  }
              })

          });
        });
    </script>
}