@model ColegioPublic.ViewsModel.MatriculaVM._ListMatriculaViewModel
@using PagedList.Mvc;
@using PagedList;
@using ColegioPublic.Helper;

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Codigo</th>
            <th>Grado</th>
            <th>Creación</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        @if (Model.LstRegistro.Count > 0)
        {
            foreach (var item in Model.LstRegistro)
            {
        <tr>
            <td>@item.CodigoMatricula</td>
            <td>@item.GradoAcademico.Nombre</td>
            <td>@item.FechaCreacion</td>

            <td>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(696px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <a class="dropdown-item" href="@Url.Action("AddEditMatricula","Matricula", new {idMatricula = item.MatriculaId})">Editar</a>
                        <a class="dropdown-item" href="@Url.Action("AddEditMatricula","Matricula", new {idMatricula = item.MatriculaId})">Eliminar</a>
                    </div>
                </div>
            </td>
        </tr>
            }
        }

    </tbody>
</table>
@Html.PagedListPager(Model.LstRegistro, p => Url.Action("_ListMatricula", new { p = p,model = Model }), PaginationHelper.AjaxPagerOptionsDefault)


